@model IEnumerable<Projeto.Models.Funcionario>



@{
                /**/

                ViewBag.Title = "Index";
}
<link href="~/DataTables/datatables.css" rel="stylesheet" />
<link href="~/admin-lte/css/AdminLTE.min.css" rel="stylesheet" />

<link href="~/DataTables/DataTables-1.10.18/css/jquery.dataTables.css" rel="stylesheet" />


<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Funcionarios</h3>
                </div>
                <div class="row fileupload-buttonbar">
                    <div class="col-lg-8">
                        &nbsp;&nbsp;&nbsp;
                        <a href="@Url.Action("Create", "Funcionarios")" class="btn btn-primary">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>
                                <strong>Cadastrar Funcionario</strong>
                            </span>
                        </a>


                    </div>
                </div>
                <br>
                <div class="box-body">



                    <table id="demoGrid" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Nome
                                </th>
                                <th>
                                    Cargo
                                </th>
                                <th>
                                    Salario
                                </th>
                                <th>
                                    Contato
                                </th>
                                <th>
                                    Email
                                </th>

                                <th>
                                    Data de Admissão
                                </th>

                                <th>Ações</th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nome)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cargo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Salario)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Contato)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.DataAdmissao)
                                    </td>


                                    <td>
                                        <a href="@Url.Action("Edit", "Funcionarios", new { id = item.FuncionarioID })" class="btn btn-primary">

                                            <span>
                                                <strong>Editar</strong>
                                            </span>
                                        </a>
                                        <a href="@Url.Action("Details", "Funcionarios", new { id = item.FuncionarioID })" class="btn btn-info">

                                            <span>
                                                <strong>Detalhes</strong>
                                            </span>
                                        </a>

                                        <a href="@Url.Action("EditAcesso", "Acessos", new { id = item.FuncionarioID })" class="btn btn-success">

                                            <span>
                                                <strong>Acesso</strong>
                                            </span>
                                        </a>
                                        &nbsp;&nbsp;&nbsp;
                                        <a href="@Url.Action("Delete", "Funcionarios", new { id = item.FuncionarioID })" class="btn btn-danger">

                                            <span>
                                                <strong>Deletar</strong>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        <thead>
                    </table>

                </div>
            </div>
        </div>
    </div>

</section>
