@model IEnumerable<Projeto.Models.Acesso>

@{
    ViewBag.Title = "Index";

}
<link href="~/DataTables/datatables.css" rel="stylesheet" />
<link href="~/admin-lte/css/AdminLTE.min.css" rel="stylesheet" />

<link href="~/DataTables/DataTables-1.10.18/css/jquery.dataTables.css" rel="stylesheet" />

<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Acessos</h3>
                </div>
                <div class="row fileupload-buttonbar">
                    <div class="col-lg-8">
                        &nbsp;&nbsp;&nbsp;
                        <a href="@Url.Action("Create", "Acessos")" class="btn btn-primary">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>
                                <strong>Cadastrar Acessos</strong>
                            </span>
                        </a>
                    </div>
                    </div>
                    <br>
                    <div class="box-body">



                        <table id="demoGrid" class="table table-bordered table-striped table-hover">
                            <thead>

                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Funcionario.Nome)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Usuario)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Senha)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Ativo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Perfil)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Funcionario.Nome)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Usuario)
                                        </td>
                                        <td>
                                            @Html.Raw("\u2022\u2022\u2022\u2022\u2022")

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Ativo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Perfil)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Edit", "Acessos", new { id = item.FuncionarioID })" class="btn btn-success">

                                                <span>
                                                    <strong>Editar</strong>
                                                </span>
                                            </a>
                                            <a href="@Url.Action("Details", "Acessos", new { id = item.FuncionarioID })" class="btn btn-primary ">

                                                <span>
                                                    <strong>Detalhes</strong>
                                                </span>
                                            </a>
                                            &nbsp;
                                            @*<a href="@Url.Action("Delete", "Acessos", new { id = item.FuncionarioID })" class="btn btn-danger btn-xs">

                            <span>
                                <strong>Deletar</strong>
                            </span>
                        </a>*@

                                        </td>
                                    </tr>
                                }
                            <thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    
</section>