@model Projeto.Models.Cliente

@{
    ViewBag.Title = "Create";

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <section class="content">
        <div class="row">

            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h4 class="mb"><i class="fa fa-angle-right"></i> Cadastrar Cliente</h4>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                       
                        <form>

                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.Nome)*
                                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", placeholder = "Nome Completo" } })
                                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group row">
                                <div class=col-md-12>
                                    <div class="form-group col-md-3">
                                        <label class="control-label col-md-2" for="CPF">CPF*</label>
                                        @Html.EditorFor(model => model.CPFouRG, new { htmlAttributes = new { @class = "form-control", @id = "cpf", placeholder = "CPF" } })
                                        @Html.ValidationMessageFor(model => model.CPFouRG, "", new { @class = "text-danger" })
                                        <span class="text-danger">@ViewBag.ErrorMessageCPF</span>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="control-label col-md-8" for="DataNascimento">Data de Nascimento*</label>
                                        @Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                        @Html.ValidationMessageFor(model => model.DataNascimento, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group col-md-2">
                                        <div class="form-group">
                                            <label class="control-label col-md-2" for="DataNascimento">Sexo*</label>


                                            @Html.DropDownListFor(model => model.Sexo, new List<SelectListItem>
    { new SelectListItem { Text = "Masculino", Value = "Masculino"},
    new SelectListItem { Text = "Feminino", Value = "Feminino"}
    }, "Selecionar sexo", new { @class = "form-control" })

                                            @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">

                                <div class="form-group col-md-4">
                                    <label class="control-label col-md-8" for="Contato">Celular*</label>

                                    @Html.EditorFor(model => model.Contato, new { htmlAttributes = new { @class = "form-control", @id = "telefone" } })
                                    @Html.ValidationMessageFor(model => model.Contato, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label col-md-6" for="Contato2">Telefone</label>

                                    @Html.EditorFor(model => model.Contato2, new { htmlAttributes = new { @class = "form-control", @id = "telefone2" } })
                                    @Html.ValidationMessageFor(model => model.Contato2, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })

                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class=col-md-12>
                                    <div class="form-group col-md-8">
                                        @Html.LabelFor(model => model.Endereço, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.EditorFor(model => model.Endereço, new { htmlAttributes = new { @class = "form-control", placeholder = "Rua tal, n.30" } })
                                        @Html.ValidationMessageFor(model => model.Endereço, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-md-4">
                                        @Html.LabelFor(model => model.CEP, htmlAttributes: new { @class = "control-label col-md-2" })

                                        @Html.EditorFor(model => model.CEP, new { htmlAttributes = new { @class = "form-control", @id = "cep" } })
                                        @Html.ValidationMessageFor(model => model.CEP, "", new { @class = "text-danger" })
                                    </div>
                                    </div></div>

                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label col-md-2" })
                                            @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control", placeholder = "Cidade" } })
                                            @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-md-3">
                                            @Html.LabelFor(model => model.Bairro, htmlAttributes: new { @class = "control-label col-md-2" })
                                            @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control", placeholder = "Bairro" } })
                                            @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-md-4">
                                            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })

                                            @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control", placeholder = "Estado" } })
                                            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                                        </div>


                                    </div>

                                    <div class="form-row">
                                        <div class="form-group">
                                            <div class="row mt">
                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <button class="btn btn-theme" value="Create" type="submit">Salvar</button>

                                                    <a href="@Url.Action("Index", "Clientes")" class="btn btn-theme04">
                                                        <span>
                                                            <strong>Cancelar</strong>
                                                        </span>

                                                    </a>


                                                </div>
                                            </div>
                                        </div>
                                    </div>

                        </form>

                        <form class="form-horizontal style-form" method="get">
                            <div class="form-group">
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>

    </section>




}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
  
}



