@model IEnumerable<Projeto.Models.Cliente>

@{


    ViewBag.Title = "Index";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Clientes</h3>
                </div>


                <div class="row fileupload-buttonbar">
                    <div class="col-lg-8">
                        &nbsp;&nbsp;&nbsp;
                        <a href="@Url.Action("Create", "Clientes")" class="btn btn-primary">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>
                                <strong>Cadastrar Cliente</strong>
                            </span>

                        </a>

             

                        <a href="@Url.Action("Index", "Animals")" class="btn btn-success">

                            <span>
                                <strong>Verificar Animais</strong>
                            </span>
                        </a>

                    </div>
                </div>
                <br>

                <div class="box-body">

                        <table id="demoGrid" class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>ClienteID</th>
                                    <th>Nome</th>
                                    <th>Sexo</th>
                                    <th>CPF</th>
                                    <th>Contato</th>
                                    <th>Data de Cadastro</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>

                        </table>

                    </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<div id="modal" class="modal fade" role="dialog" />

@section Scripts{
    <!-- JS -->
    @Scripts.Render("~/bundles/jqueryval")

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script>


    


        $(document).ready(function () {
            $("#demoGrid").DataTable({

                "language": {
                    "lengthMenu": "Exibe _MENU_ Registros por página",
                    "search": "Pesquisar por Nome",
                    "paginate": { "previous": "Retorna", "next": "Avança" },
                    "zeroRecords": "Nada foi encontrado",
                    "info": "Exibindo página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sem registros",
                    "infoFiltered": "(filtrado de _MAX_ regitros totais)"
                },

                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "pageLength": 10,

                "ajax": {
                    "url": "/Clientes/LoadData",
                    "type": "POST",
                    "datatype": "json"
                },

                "columnDefs":
                    [{
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                        {
                            "targets": [2],
                            "searchable": false,
                            "orderable": false
                        },
                        {
                            "targets": [3],
                            "searchable": false,
                            "orderable": false
                        },
                    {
                        "targets": [4],
                        "searchable": false,
                        "orderable": false
                    },
                    
                        {
                            "targets": [6],
                            "searchable": false,
                            "orderable": false
                        }

  ],

                "columns": [
                    {
                        "data": "ClienteID",
                        "name": "ClienteID",
                        "autoWidth": true
                    },
                    { "data": "Nome", "name": "Nome", "autoWidth": true },
                    { "data": "Sexo", "title": "Sexo", "name": "Sexo", "autoWidth": true },
                    { "data": "CPFouRG", "name": "CPFouRG", "autoWidth": true },
                    { "data": "Contato", "name": "Contato", "autoWidth": true },
                    
                    {
                        "data": "DataCadastro",
                        "name": "DataCadastro",
                        "autoWidth": true,
                        render: function (d) {
                            return moment(d).format("DD:MM:YYYY HH:mm:ss");
                        }
                    },

                    {"render": function (data, type, full, meta) {
                        return '<a href="@Url.Action("Edit","Clientes")?id=' + full.ClienteID + '" class="btn btn-primary">Editar</a> | <a href="@Url.Action("Details", "Clientes")?id=' + full.ClienteID + '" class="btn btn-info">Detalhes</a> | <a href="#" onclick="DeleteData(' + full.ClienteID + ')"class="btn btn-danger">Deletar</a>';
                                }   }
                ]
            });
        });



    function DeleteData(ClienteID) {
        if (confirm("Tem certeza que quer deletar este cadastro? Ao deletar você excluirá todos os registros de ANIMAIS atrelados a este cliente")) {
            Delete(ClienteID);
        }
        else {
            return false;
        }
    }


        function Delete(ClienteID) {
        var url = '@Url.Content("~/")' + "Clientes/DeleteCustomer";
            $.post(url, { ID: ClienteID }, function (data) {
            if (data == "Deleted") {
                alert("Cadastro Deletado!");
                oTable = $('#demoGrid').DataTable();
                oTable.draw();
            }
            else {
                alert("Algo deu Errado!");
            }
        });
    }
    </script>

}   